/* Основной стиль для контейнера dropdown */
.dropdown {
    position: relative; 
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
  }
  
  /* Стиль для кнопки */
  .dropdown__value {
    color: #fff; 
    background: gray; 
    box-sizing: border-box; 
    padding: 10px; 
    cursor: pointer;
    border-radius: 6px;
  }
  
  /* Стиль стрелки вниз после текста кнопки */
  .dropdown__value:after {
    content: '\21E9';
    margin-left: 5px;
  }
  
  /* Стиль для выпадающего списка */
  .dropdown__list {
    display: none;
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
    border: 1px solid gray;
    border-bottom: none;
    border-radius: 4px;
    background-color: #fff;
    z-index: 1;
  }
  
  /* Стиль для ссылок в выпадающем списке */
  .dropdown__link {
    display: block; 
    text-decoration: none; 
    color: black;
    padding: 5px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid gray;
    border-radius: 4px;
  }
  
  /* Изменение фона ссылки при наведении */
  .dropdown__link:hover {
    background-color: #f0f0f0; 
  }
  
  /* Активный стиль для отображения выпадающего списка */
  .dropdown__list_active {
    display: block;
  }
  
  /* Стиль для контейнера card */
  .card {
    text-align: center;
  }
  